<div class="w-full h-auto text-md text-start flex gap-5 py-2 px-3 border-t border-purple-800">
  <div class="w-2/6"><%= date %></div>
  <div class="w-2/6"><%= category %></div>
  <div class="w-2/6"><%= action %></div>
</div>