<div class="sm:w-[30%] lg:w-3/12 w-full h-auto flex gap-3 border-purple-800 border rounded-xl">
  <img src="<%= img %>" class="w-1/2 rounded-l-xl" alt="Produto">
  <div class="flex-1 flex flex-col gap-2 text-sm text-purple-800 font-semibold py-1">
    <span>
      <%= title %>
    </span>
    <Span>
      <%= description %>
    </Span>
    <span>
      <%= price%>
    </span>
  </div>
</div>