<footer class="bg-purple-900 dark:bg-slate-900 duration-500 ease-in-out">
  <div class="w-full max-w-screen-xl px-12 py-6 lg:py-8">
    <div class="md:flex md:justify-between gap-24">
      <div class="mb-6 md:mb-0">
        <div class="flex items-center">
          <img src="images/ufc.png" class="h-32 mr-3" alt="Logo da Universidade Federal do Ceará" />
          <span class="self-center text-2xl font-semibold whitespace-nowrap text-white">Marketplace</span>
        </div>
      </div>
      <div class="grid grid-cols-2 gap-24 sm:gap-6">
        <div>
          <h2 class="mb-6 text-sm font-semibold text-white uppercase dark:text-white duration-500 ease-in-out">
            Contatos
          </h2>
          <ul class="text-gray-300 dark:text-gray-400 duration-500 ease-in-out font-medium">
            <li class="mb-4">
              contato@marketplace.com
            </li>
            <li class="mb-4">
              Av. da Universidade, 2853 - Benfica, Fortaleza - CE, 60020-18
            </li>
            <li class="mb-4">
              +55 (85) 91234-5678
            </li>
          </ul>
        </div>
        <div>
          <h2 class="mb-6 text-sm font-semibold text-white uppercase dark:text-white duration-500 ease-in-out">
            Páginas
          </h2>
          <ul class="text-gray-300 dark:text-gray-400 duration-500 ease-in-out font-medium">
            <li class="mb-4">
              <a href="#" class="hover:underline">Home</a>
            </li>
            <li class="mb-4">
              <a href="#" class="hover:underline">Login</a>
            </li>
            <li>
              <a href="#" class="hover:underline">Pesquisa</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 duration-500 ease-in-out lg:my-8" />
    <div class="sm:flex w-full sm:items-center sm:justify-center">
      <span class="text-sm text-gray-300 sm:text-center dark:text-gray-400 duration-500 ease-in-out">
        © 2023 Marketplace. Desenvolvido por <a href="https://www.instagram.com/wildnei_frank" target="_blank" class="hover:underline">Wildnei
          Frank</a> e <a href="https://www.instagram.com/mayconthiago.99/" target="_blank" class="hover:underline">Maycon Thiago</a>
      </span>
    </div>
  </div>
</footer>