<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pesquisa</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/procura.css">
    <script defer src="/js/filtrar.js"></script>
</head>
<body>
    <div class="wrapper">
        <div id="search-container">
          <input type="search" id="search-input" placeholder="O que voçê procura?"/>
          <button id="search">Buscar</button>
        </div>
        <div id="buttons">
          <button class="button-value" onclick="filterProduct('all')">Todos<button>
          <button class="button-value" onclick="filterProduct('Pizzaria')">Pizzaria</button>
          <button class="button-value" onclick="filterProduct('Comida chinesa')">Comida chinesa</button>
          <button class="button-value" onclick="filterProduct('Comida italiana')">Comida italiana</button>
          <button class="button-value" onclick="filterProduct('Ifood')">Ifood</button>
        </div>
        <div id="products"></div>
    </div>
</body>
</html>