<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pesquisa</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="icon" href="images/ufc.png" type="image/png">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/search.css">
    <script defer src="/js/filtrar.js"></script>
</head>
<body>
  <%- include('../../components/header'); %>
    <div class="wrapper">
        <div id="search-container">
          <input type="search" id="search-input" placeholder="O que voçê procura?"/>
          <button id="search">Buscar</button>
        </div>
        <div id="buttons">
          <button class="button-value" onclick="filterProduct('all')">All<button>
          <button class="button-value" onclick="filterProduct('esfira')">Esfira</button>
          <button class="button-value" onclick="filterProduct('chinesa')">Chinesa</button>
          <button class="button-value" onclick="filterProduct('italiana')">Italiana</button>
          <button class="button-value" onclick="filterProduct('ifood')">Ifood</button>
        </div>
        <div id="products"></div>
    </div>
  <%- include('../../components/footer'); %>
</body>
</html>