<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
  <%- include('../../components/header'); %>
    <div class="w-full h-screen justify-center flex items-center">
      <div class="w-5/12 text-center text-lg font-medium">
        <div class="text-lg">Lorem Ipsum</div>
        <div class="text-md">
          Lorem ipsum dolor sit voluptatum at eveniet, esse mol
        </div>
        <div>search <input type="text" class="outline-none" /></div>
      </div>
    </div>
    <div class="h-auto flex flex-col px-12 py-7 gap-5 overflow-x-hidden">
      <div>Melhores Restaurantes</div>
      <div class="h-auto flex gap-5 w-fit duration-500 ease-in-out" id="restaurants">
        <% for(let k=0; k < 7; k++ ) { %>
          <%- include('../../components/cardRestaurant', { imageLink: 'https://picsum.photos/200/200' ,
            companyTitle: 'GTi Engenharia jr.' , companyDescription: 'Empresa de desenvolvimento web' }) %>
            <% } %>
      </div>
      <div class="w-full flex justify-center gap-3">
        <div
          class="bg-purple-800 w-10 h-10 flex justify-center items-center rounded-full hover:bg-purple-900 duration-500 ease-in-out cursor-pointer restaurants"
          id="leftRestaurant">
          <i class="fa-solid fa-angle-left text-white"></i>
        </div>
        <div
          class="bg-purple-800 w-10 h-10 flex justify-center items-center rounded-full hover:bg-purple-900 duration-500 ease-in-out cursor-pointer restaurants"
          id="rightRestaurant">
          <i class="fa-solid fa-angle-right text-white"></i>
        </div>
      </div>
    </div>

    <div class="h-auto flex flex-col px-12 py-7 gap-5 overflow-x-hidden">
      <div>Produtos</div>
      <div class="h-auto flex gap-5 w-fit duration-500 ease-in-out" id="products">
        <% for(let k=0; k < 7; k++ ) { %>
          <%- include('../../components/cardProduct', { imageLink: 'https://picsum.photos/200/200' , title: 'Pizza' ,
            price: '25.00' }) %>
            <% } %>
      </div>
    </div>
    <div class="w-full flex justify-center gap-3 py-5">
      <div
        class="bg-purple-800 w-10 h-10 flex justify-center items-center rounded-full hover:bg-purple-900 duration-500 ease-in-out cursor-pointer products"
        id="leftProduct">
        <i class="fa-solid fa-angle-left text-white "></i>
      </div>
      <div
        class="bg-purple-800 w-10 h-10 flex justify-center items-center rounded-full hover:bg-purple-900 duration-500 ease-in-out cursor-pointer products"
        id="rightProduct">
        <i class="fa-solid fa-angle-right text-white "></i>
      </div>
    </div>


    <%- include('../../components/footer'); %>
      <script src="js/index.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.js"></script>
</body>

</html>