<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Admin</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="icon" href="images/ufc.png" type="image/png">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
  <main class="w-full h-screen flex">
    <aside class="w-2/12 h-full bg-purple-800 text-white shadow-xl flex flex-col text-lg font-medium justify-between pt-32 pb-10">
      <div class="w-full h-3/6 flex flex-col gap-1 items-center justify-center">
        <div class="flex gap-3 w-3/4 items-center bg-purple-500 px-4 py-3 rounded-lg shadow-md cursor-pointer">
          <i class="fa-solid fa-gauge" style="color: #ffffff;"></i>
          <span>Dashboard</span>
        </div>
        <div class="flex gap-3 w-3/4 px-4 py-3 items-center hover:bg-purple-500 duration-500 ease-in-out rounded-lg hover:shadow-md cursor-pointer">
          <i class="fa-solid fa-user" style="color: #ffffff;"></i>
          <span>Usuários</span>
        </div>
        <div class="flex gap-3 w-3/4 px-4 py-3 items-center hover:bg-purple-500 duration-500 ease-in-out rounded-lg hover:shadow-md cursor-pointer">
          <i class="fa-solid fa-file-invoice" style="color: #ffffff;"></i>
          <span>Solicitações</span>
        </div>
        <div class="flex gap-3 w-3/4 px-4 py-3 items-center hover:bg-purple-500 duration-500 ease-in-out rounded-lg hover:shadow-md cursor-pointer">
          <i class="fa-solid fa-trash" style="color: #ffffff;"></i>
          <span>Rejeitados</span>
        </div>
        <div class="flex gap-3 w-3/4 px-4 py-3 items-center hover:bg-purple-500 duration-500 ease-in-out rounded-lg hover:shadow-md cursor-pointer">
          <i class="fa-solid fa-message" style="color: #ffffff;"></i>
          <span>Feedbacks</span>
        </div>
        <div class="flex gap-3 w-3/4 px-4 py-3 items-center hover:bg-purple-500 duration-500 ease-in-out rounded-lg hover:shadow-md cursor-pointer">
          <i class="fa-solid fa-database" style="color: #ffffff;"></i>
          <span>Produtos</span>
        </div>
        <div class="flex gap-3 w-3/4 px-4 py-3 items-center hover:bg-purple-500 duration-500 ease-in-out rounded-lg hover:shadow-md cursor-pointer">
          <i class="fa-solid fa-gear" style="color: #ffffff;"></i>
          <span>Configurações</span>
        </div>
      </div>
      <div class="flex w-full justify-center items-center">
        <div class="w-3/4 px-4 py-3 flex gap-3 items-center hover:bg-purple-500 duration-500 ease-in-out rounded-lg hover:shadow-md cursor-pointer">
          <i class="fa-solid fa-right-from-bracket" style="color: #ffffff;"></i>
          <span>Logout</span>
        </div>
      </div>
    </aside>
    <div class="flex-1 flex flex-col gap-5 p-5">
      <div class="rounded-md bg-white shadow-lg h-1/6 flex items-center px-6 border-slate-100 border">
        <div class="w-3/4 h-auto flex flex-col">
          <div class="text-md text-slate-400 font-medium">Principal</div>
          <div class="text-xl text-purple-800 font-semibold">Dashboard</div>
        </div>
        <div class="flex-1 flex gap-3 items-center">
          <div class="text-lg text-purple-800 font-medium">Olá, GTi Engenharia Jr.</div>
          <img src="images/ufc.png" class="w-11 h-11 rounded-full border border-purple-800 shadow-lg" alt="Imagem do Admin">
        </div>
      </div>
      <div class="rounded-md bg-white shadow-lg h-2/6 p-6 border-slate-100 border">
        <div class="w-full text-purple-800 text-lg font-medium h-auto">Estatísticas</div>
        <div class="w-full flex gap-4 flex-1">
          <div class="flex flex-1 gap-1 rounded-lg h-full text-white border border-purple-800 p-5 shadow-md">
            <div class="w-3/4 h-auto flex flex-col gap-1 font-semibold">
              <div class="text-xs text-slate-500">Quantidade de Usuários</div>
              <div class="text-2xl text-purple-800">20</div>
            </div>
            <div class="w-14 h-14 p-5 flex justify-center items-center rounded-full bg-purple-800">
              <i class="fa-solid fa-user" style="color: #ffffff;"></i>
            </div>
          </div>
          <div class="flex flex-1 gap-1 rounded-lg h-full text-white border border-purple-800 p-5 shadow-md">
            <div class="w-3/4 h-auto flex flex-col gap-1 font-semibold">
              <div class="text-xs text-slate-500">Quantidade de Usuários</div>
              <div class="text-2xl text-purple-800">20</div>
            </div>
            <div class="w-14 h-14 p-5 flex justify-center items-center rounded-full bg-purple-800">
              <i class="fa-solid fa-user" style="color: #ffffff;"></i>
            </div>
          </div>
          <div class="flex flex-1 gap-1 rounded-lg h-full text-white border border-purple-800 p-5 shadow-md">
            <div class="w-3/4 h-auto flex flex-col gap-1 font-semibold">
              <div class="text-xs text-slate-500">Quantidade de Usuários</div>
              <div class="text-2xl text-purple-800">20</div>
            </div>
            <div class="w-14 h-14 p-5 flex justify-center items-center rounded-full bg-purple-800">
              <i class="fa-solid fa-user" style="color: #ffffff;"></i>
            </div>
          </div>
          <div class="flex flex-1 gap-1 rounded-lg h-full text-white border border-purple-800 p-5 shadow-md">
            <div class="w-3/4 h-auto flex flex-col gap-1 font-semibold">
              <div class="text-xs text-slate-500">Quantidade de Usuários</div>
              <div class="text-2xl text-purple-800">20</div>
            </div>
            <div class="w-14 h-14 p-5 flex justify-center items-center rounded-full bg-purple-800">
              <i class="fa-solid fa-user" style="color: #ffffff;"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="rounded-md bg-white shadow-lg h-3/6 px-6 border-slate-100 border"></div>
    </div>
  </main>
</body>

</html>