.table-container{
  width: 100%;
}
table{
  width: 100%;
  border-collapse: collapse;
}
thead{
  background-color: blueviolet;
  color: white;
}
th{
  padding: 15px;
  text-align: left;
}
tbody{
  background: #f2f2f2;
}
td{
  padding: 15px;
  font-size: 14px;
  color: #333;
}
tr:nth-child(even){
  background: white;
}
tfoot{
  background-color: blueviolet;
  font-weight: bold;
  color: white;
}
tfoot td{
  padding: 15px;
}