<!DOCTYPE html>
<html lang="pt-br" id="mode">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Login</title>
  <script>
    tailwind.config = {
      darkMode: 'class',
    }
  </script>
  <link rel="icon" href="images/ufc.png" type="image/png">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body class="m-0 font-sans box-border bg-white dark:bg-slate-900 duration-500 min-h-screen">
  <%- include('../../components/headerPages'); %>
  <div class="w-full h-auto flex justify-center items-center pt-20" id="loginDiv">
    <div class="w-1/2 h-auto flex justify-center items-center flex-col">
      <h1 class="text-5xl text-purple-700">Faça o login<br>E sirva-se</h1>
      <img class="w-2/3" src="images/pizza.svg" alt="pizza">
    </div>
    <div class="w-1/2 h-auto flex justify-center items-center">

      <div class="w-3/5 flex justify-center items-center flex-col p-8 bg-slate-200 rounded-lg shadow-lg dark:bg-slate-800 duration-500 ease-in-out">
        <div class="flex justify-center items-center flex-col">
          <div class="flex justify-between items-center">
            <h1 class="text-4xl text-purple-700 font-bold  mr-5">LOGIN</h1>
          </div>
          <form onsubmit="login(event)" class="w-full flex flex-col items-start justify-center my-4 gap-2">
            <div class="w-full flex flex-col items-start justify-center">
              <label class="text-purple-800 font-semibold dark:text-white duration-500 ease-in-out mb-2" for="email">Usuário</label>
              <input class="w-full rounded-lg p-2 bg-white text-purple-800 font-semibold dark:bg-slate-700 dark:text-white border-slate-300 border text-base shadow-md focus:outline-none box-border placeholder-white::placeholder duration-500 ease-in-out" type="email" name="email" id="userEmail" placeholder="Email" required>
            </div>
            <div class="w-full flex flex-col items-start justify-center">
              <label class="text-purple-800 font-semibold dark:text-white duration-500 ease-in-out mb-2" for="senha">Senha</label>
              <input class="w-full rounded-lg p-2 bg-white text-purple-800 font-semibold dark:bg-slate-700 dark:text-white border-slate-300 border text-base shadow-md focus:outline-none box-border placeholder-white::placeholder duration-500 ease-in-out" type="password" name="senha" id="password" placeholder="Senha" required>
            </div>
            <button type="submit" class="w-full py-4 my-4 rounded-md focus:outline-none text-uppercase font-semibold tracking-wider text-white bg-purple-700 cursor-pointer shadow-lg" id="loginBtn">Logar</button>
            <p class="text-slate-800 dark:text-white duration-500 ease-in-out">Ainda não tem uma conta?<span id="loginLink" class="text-purple-700 no-underline ml-4 cursor-pointer" onclick="closeLogin()">Crie uma aqui</span></p>
          </form>

        </div>

      </div>
    </div>
  </div>
  <div class="w-full h-auto justify-center items-center ease-in-out hidden pt-24" id="registerDiv">
    <div class="justify-center items-center flex flex-col bg-slate-300 dark:bg-slate-800 duration-500 ease-in-out p-5 rounded-lg shadow-md gap-1">
      <div class="flex justify-center items-center">
        <h1 class="text-4xl text-purple-700 font-bold">CADASTRO</h1>
      </div>

      <form method="post" onsubmit="sendRegisterData(event)" class="w-full flex flex-col items-start justify-center gap-1">
        <div class="flex gap-2 w-full">
          <div class="w-full">
            <label for="name" class="text-slate-800 dark:text-white duration-500 ease-in-out mb-2">Nome</label>
            <input required class="w-full rounded-lg p-2 bg-white text-slate-800 dark:bg-slate-700 dark:text-white border-slate-300 border text-base shadow-md focus:outline-none box-border placeholder-white::placeholder duration-500 ease-in-out" type="text" id="name" name="name" placeholder="Nome">
          </div>
          <div class="w-full">
            <label for="tel" class="text-slate-800 dark:text-white duration-500 ease-in-out mb-2">Telefone</label>
            <input required class="w-full rounded-lg p-2 bg-white text-slate-800 dark:bg-slate-700 dark:text-white border-slate-300 border text-base shadow-md focus:outline-none box-border placeholder-white::placeholder duration-500 ease-in-out" type="tel" id="tel" name="tel" placeholder="Telefone">
          </div>
        </div>
        <div class="flex gap-2 w-full">
          <div class="w-full">
            <label for="email" class="text-slate-800 dark:text-white duration-500 ease-in-out mb-2">Email</label>
            <input required class="w-full rounded-lg p-2 bg-white text-slate-800 dark:bg-slate-700 dark:text-white border-slate-300 border text-base shadow-md focus:outline-none box-border placeholder-white::placeholder duration-500 ease-in-out" type="email" name="email" id="email" placeholder="Email">
          </div>
          <div class="w-full">
            <label for="image" class="text-slate-800 dark:text-white duration-500 ease-in-out mb-2">Link da Logo</label>
            <input required class="w-full rounded-lg p-2 bg-white text-slate-800 dark:bg-slate-700 dark:text-white border-slate-300 border text-base shadow-md focus:outline-none box-border placeholder-white::placeholder duration-500 ease-in-out" type="url" name="image" id="image" placeholder="Link da Imagem da Logo">
          </div>
        </div>
        <div class="w-full flex flex-col items-start justify-center ">
          <label for="address" class="text-slate-800 dark:text-white duration-500 ease-in-out mb-2">Endereço</label>
          <input required class="w-full rounded-lg p-2 bg-white text-slate-800 dark:bg-slate-700 dark:text-white border-slate-300 border text-base shadow-md focus:outline-none box-border placeholder-white::placeholder duration-500 ease-in-out" type="text" name="address" id="address" placeholder="Endereço">
        </div>

        <div class="w-full flex flex-col items-start justify-center ">
          <label for="aboutUs" class="text-slate-800 dark:text-white duration-500 ease-in-out mb-2">Descrição</label>
          <input minlength="20" required class="w-full rounded-lg p-2 bg-white text-slate-800 dark:bg-slate-700 dark:text-white border-slate-300 border text-base shadow-md focus:outline-none box-border placeholder-white::placeholder duration-500 ease-in-out" type="text" id="aboutUs" name="aboutUs" placeholder="Descrição do Restaurante">
        </div>
        <div class="flex gap-2">
          <div class="w-full">
            <label for="password" class="text-slate-800 dark:text-white duration-500 ease-in-out mb-2">Senha</label>
            <input minlength="8" required class="w-full rounded-lg p-2 bg-white text-slate-800 dark:bg-slate-700 dark:text-white border-slate-300 border text-base shadow-md focus:outline-none box-border placeholder-white::placeholder duration-500 ease-in-out" type="password" id="registerPassword" name="password" placeholder="Senha">
          </div>
          <div class="w-full">
            <label for="passwordConfirmation" class="text-slate-800 dark:text-white duration-500 ease-in-out mb-2">Confirmar senha</label>
            <input minlength="8" required class="w-full rounded-lg p-2 bg-white text-slate-800 dark:bg-slate-700 dark:text-white border-slate-300 border text-base shadow-md focus:outline-none box-border placeholder-white::placeholder duration-500 ease-in-out" type="password" name="passwordConfirmation" id="passwordConfirmation" placeholder="Confirme a senha">
          </div>
        </div>

        <button type="submit" class="w-full py-2 mt-2 rounded-md focus:outline-none text-uppercase font-semibold tracking-wider text-white bg-purple-700 cursor-pointer shadow-lg hover:bg-purple-800 duration-500 ease-in-out">Cadastrar</button>
        <p class="text-slate-800 dark:text-white duration-500 ease-in-out">Já possui uma conta?<span id="registerLink" class="text-purple-700 no-underline ml-4 cursor-pointer" onclick="closeRegister()">Clique aqui</span></p>
      </form>

    </div>
  </div>
  
  <script src="js/session.js"></script>
  <script src="js/login.js"></script>
  <script src="js/accessibility.js"></script>

</body>

</html>